/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@keyframes appear {
	0% { opacity: 0%; }
	100% { opacity: 100%; }
}

section.animate-appear {
	animation: appear 1s ease-in-out 1 forwards;
}
