/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@keyframes cbcInput {
	0%, 50%, 100% {
		opacity: 100%;
	}
	25%, 75% {
		opacity: 0%;
	}
}

@keyframes cbcOutput {
	0%, 100% {
		opacity: 100%;
	}
	50% {
		opacity: 0%;
	}
}

table.animate-cbcInput > tbody > tr > td > span {
	animation: cbcInput 2s ease-in-out 1 forwards;
}

table.animate-cbcOutput > tbody > tr > td > span {
	animation: cbcOutput 1s ease-in-out 1 forwards;
}
