/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@font-face {
	font-family: JetBrains Mono;
	src: url(/res/fonts/JetBrainsMono-Bold.woff2);
}

* {
	font-family: JetBrains Mono, Consolas, monospace;
}

td {
	height: 60px;
	width: 60px;
	text-align: center;
	font-size: 24pt;
	font-weight: 700;
	padding: 0;
	border: 4px solid whitesmoke;
	background-color: darkslateblue;
	border-radius: 16px;
}

table {
	border-spacing: 2px;
	border: 4px solid whitesmoke;
	background-color: slategray;
	padding: 4px;
	border-radius: 16px;
}

body {
	margin: 0;
	background-color: darkslategray;
	color: whitesmoke;
	/* padding-bottom: 128px; */
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 10pt;
	margin-top: auto;
	left: 0;
	width: 100%;
	background-color: slategray;
	text-align: center;
	border-top: 2px solid whitesmoke;
	height: 112px;
}

h1 {
	margin: 0 auto 0 auto;
}

.block {
	background-color: slategray;
	border-radius: 32px;
	border: 2px solid whitesmoke;
}

label {
	text-align: right;
}

textarea, input, select, button {
	font-size: 10pt;
	background-color: darkslateblue;
	border: 2px solid whitesmoke;
	color: whitesmoke;
	border-radius: 8px;
	transition:
		background-color 250ms ease,
		border-color 250ms ease,
		color 250ms ease;
}

textarea:hover, input:hover, select:hover, button:hover {
	background-color: whitesmoke;
	border-color: darkslateblue;
	color: darkslateblue;
}

footer > p {
	width: 256px;
}

.entry {
	display: flex;
	flex-direction: row;
	width: 298px;
	position: relative;
}

.entry > label {
	position: absolute;
	right: 306px;
	white-space: nowrap;
	height: 100%;
	align-content: center;
}

.entry > *:not(label) {
	width: 298px;
	margin: 4px;
}

a {
	text-decoration: none;
}

a.me {
	font-size: 12pt;
}

a.jetbrains {
	font-size: 12pt;
	background: #FF9419;
	background: linear-gradient(45deg, rgba(255, 148, 25, 1) 0%, rgba(255, 2, 29, 1) 43%, rgba(230, 0, 255, 1) 99%);
	background-clip: text;
	color: transparent;
}

.secondary {
	font-size: 8pt;
	color: slateblue;
}

.secondary::after {
	content: ")";
	font-size: 8pt;
}

.secondary::before {
	content: "(";
	font-size: 8pt;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 28pt;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: slategray;
	text-align: center;
	border-bottom: 2px solid whitesmoke;
	height: 112px;
}

.title {
	color: whitesmoke;
}
